body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 18px;
}

button {
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid white;
}

.section-hero {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #1f2937;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  font-size: 18px;
}

.header h1 {
  font-size: 24px;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-main button {
  background-color: #3882f6;
  color: white;
  border: none;
}

.hero-main h2 {
  font-weight: bolder;
  font-size: 48px;
}

.left {
  max-width: 50%;
  font-size: 18px;
}

.section-random-info {
  text-align: center;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.section-random-info h2 {
  font-size: 36px;
  font-weight: bolder;
}

.box-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.section-quote {
  padding-top: 50px;
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 100px;
  background-color: #e5e7eb;
  font-size: 36px;
}

.quote {
  font-style: italic;
  font-weight: lighter;
}

.author {
  font-weight: bold;
  text-align: right;
}

.section-signup {
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 100px;
}

.banner {
  background-color: #3882f6;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  border-radius: 4px;
}

.banner .title {
  font-weight: bold;
}

.banner button {
  background-color: #3882f6;
  color: white;
}

.banner button:hover {
  background-color: white;
  color: #3882f6;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
}
